* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav{
   background-color: #222;
   padding: 15px 30px;
   float: left;
   width: 100%;
}
#nav ul{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav li{
    float: left;
    margin-right: 20px;
}
#nav a{
    color:#fff;
    float: left;
}
#main{
    float: left;
    width: 100%;
    padding: 30px;
}
h1{
    margin-bottom:30px;
}